<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="TestIP" value="127.0.0.1"></add>
    <add key="TestPort" value="502"></add>
    <add key="TestID" value="1"></add>
    <add key="Testepoch" value="3"></add>
    <add key="DefaultPLC" value="C:\Users\lenovo\source\repos\PLC Test\PLC Test\bin\Debug\设备配置\test.xml"></add>
    <add key="DefaultObject" value="C:\Users\lenovo\source\repos\PLC Test\PLC Test\bin\Debug\设备配置\testo.xml"></add>
    <add key="DefaultTest" value="C:\Users\lenovo\source\repos\PLC Test\PLC Test\bin\Debug\测试流程\test.xlsx"></add>
  </appSettings>
</configuration>