<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="TestIP" value="127.0.0.1"></add>
    <add key="TestPort" value="502"></add>
    <add key="Testepoch" value="3"></add>
    <add key="DefaultPLC" value="C:\Users\lenovo\source\repos\PLC Test\PLC Test\bin\Debug\设备配置\test.xml"></add>
    <add key="DefaultObject" value="C:\Users\lenovo\source\repos\PLC Test\PLC Test\bin\Debug\设备配置\testo.xml"></add>
    <add key="DefaultTest" value="C:\Users\lenovo\source\repos\PLC Test\PLC Test\bin\Debug\测试流程\test.xlsx"></add>
    <add key="DefaultDatabase" value="Server=LEESINCOOL\SQLEXPRESS;Database=TestResult;user id=sa;pwd=111111"></add>
    <add key="PDUHead" value="true"></add>
    <add key="IsFirstTime" value="true"></add>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.10.0" newVersion="1.8.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.1.9" newVersion="1.3.1.9" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>